# Project exclude paths
/HW_1/HW_1_1/#4N0y5tufA/main.js
/HW_1/HW_1_1/#6Qb97gsv/main.js
/HW_1/HW_1_1/#dYQNrBV/main.js
/HW_1/HW_1_1/#ruUtWDUI/main.js
/HW_1/HW_1_2/#3ckURgvs/main.js
/HW_1/HW_1_2/#67kfznmiMl/main.js
/HW_1/HW_1_2/#awLXL6TBzg/main.js
/HW_1/HW_1_2/#bAUsaq6LI/main.js
/HW_1/HW_1_2/#coYydZuaeEB/main.js
/HW_1/HW_1_2/#iBvqtjEm/main.js
/HW_1/HW_1_2/#jCHFnEbdmFd/main.js
/HW_1/HW_1_2/#KzrtqyQ/main.js
/HW_1/HW_1_2/#LARqoUj5I/main.js
/HW_1/HW_1_2/#sA3Gg1sCp/main.js
/HW_1/HW_1_2/#UMoNq4biWGe/main.js
/HW_1/HW_1_2/#uwsz1RnTQJ1/main.js
/HW_1/HW_1_3/#4WrHwFTEop0/main.js
/HW_1/HW_1_3/#Hdjws7E/main.js
/HW_1/HW_1_3/#OeT7t3uUMFi/main.js
/HW_1/HW_1_3/#TYj7ncx/main.js
/HW_1/HW_1_3/#uzkt71dp/main.js
/HW_1/HW_1_3/#vLSZKMlO/main.js
/HW_1/HW_1_3/#y7crMeFwHcS/main.js
/.idea/
